html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

  @font-face {
    font-family: "ubuntu-font";
    src: url("ubuntu/Ubuntu-R.ttf");
    font-size: 1em;
  }

  @font-face {
    font-family: "ubuntu-bold";
    src: url("ubuntu/Ubuntu-B.ttf");
    font-weight: bold;
    font-size: 1em;
  }

  @font-face {
    font-family: "lobster";
    src: url("lobster/lobster.otf");
    font-size: 1em;
  }

  body {
    padding-top: 113px;
    font-family: "ubuntu-font";
  }
  /*Header*/
  .navbar-brand p {
    font-family: "ubuntu-bold";
    font-size: 1.4em;
    margin: 5px 0 10px 0;
  }

  .navbar-brand h2 {
    font-family: "lobster";
    font-size: 1.6em;
  }

  /*Footer */
  .project {
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
  }

  .linked-in {
    width: 13%;
    margin-right: 10px;
  }

  .git-hub {
    width: 13%;
  }

  /*Body*/


  .profile {
    border: 4px double black;
    border-radius: 50%;
    width: 100%;
  }

  .jumbotron {
    background: url("../images/studying_cat.jpg");
    width: 100%;
    background-size: cover;
  }

  .jumbo-header {
    font-family: "ubuntu-bold";
    font-size: 2.0em;
    margin-bottom: 10px;
    color: rgb(211,211,211);
  }

  .intro {
    color: rgb(211,211,211);
  }

  .container h2 {
    font-family: "ubuntu-bold";
    font-size: 2.0em;
  }

  .container h3 {
    font-size: 1.8em;
  }

  .container h4 {
    font-fmaily: "ubuntu-italic";
    font-size: 1.4em;
    margin: 10px 0 10px 0;
    font-style: italic;
    color: rgb(118, 161, 69);
  }

  .container h5 {
    font-size: 1.2em;
    margin: 10px 0 10px 0;
    color: rgb(204, 14, 21);
    font-style: italic;
  }

  .alert {
    margin-top: 10px;
  }

  hr {
    size: 3px;
    border-color: black;
    color: black;
    background-color: black;
  }

  .margin-bottom {
    margin-bottom: 20px;
  }

  .margin-top {
    margin-top: 20px;
  }

  .center {
    text-align: center;
  }

  .footer {
    background-color: #B0D1FB;
    min-height: 80px;
  }

  .bold {
    font-weight: bold;
  }

  .footer {
    width: 100%;
  }

  .margin-bottom-footer {
    margin-bottom: 10px;
  }


@media all and (max-width: 480px) {
  .navbar-nav {
    margin-left: 15px;
  }
  .toggle-true {
    margin-top: 40px;
  }
  .project {
    margin-top: 20px;
  }
  .other-true {
    margin-top: 55px;
  }
}

@media all and (min-width: 481px) {
  .navbar-nav {
    margin-top: 55px;
  }
  .navbar-brand {
    margin-bottom: 10px;
  }
  .project {
    margin-top: 20px;
  }
  .contact-sent {
    margin-top: 135px;
    margin-bottom: 135px;
  }
}
